[["flutter-site-1" :site/url "https://www.flutter.com" 1 :add]
 ["flutter-site-1" :site/checked-at "2026-07-18" 1 :add]
 ["flutter-site-1" :site/http-status 200 1 :add]
 ["flutter-site-1" :site/title "Flutter Entertainment plc | Global Leader in Online Betting &amp; Gaming" 1 :add]
 ["flutter-site-1" :site/description "Description Meet Flutter Entertainment plc – the company powering the world’s leading betting and gaming brands with innovation, scale and integrity." 1 :add]]
