[["flutter-tos-1" :tos/full-text "Terms of use

2025 Positive Impact Report 2025 Annual Report Our Business Our Business Leadership Our Brands Responsible Gaming Investors Why Invest Investor Hub Shareholder Information Sustainability Sustainability Responsible Gaming Colleagues Community Environment News & Media Press releases Blogs Media library Careers Menu Our Business Investors Sustainability News & Media Careers Terms of use Introduction
This World Wide Website (www) (the \"site\" or “website”) is operated by Flutter Entertainment (\"Flutter\", “us” or “we”). These terms and conditions of use (“Terms of Use”) are governed by the laws of England and Wales and you agree that the English courts shall have exclusive jurisdiction in any dispute.
The pages, or parts of pages, containing share price information (\"the IR website\") are published by Q4 on behalf of Flutter and are distinct from those published by Flutter (www.flutter.com) Any web pages containing share price data, charts and Regulatory News Service (RNS) announcements are provided by Radley Yeldar from the London Stock Exchange and New York Stock exchange via trusted third-party data providers, Q4.
Please read these Terms of Use carefully as by using the website you will be taken to have agreed to be bound by them. We reserve the right to vary the Terms of Use at any time and will post any variations here. You are advised to review the Terms of Use on a regular basis as you will be deemed to have accepted variations if you continue to use the website after they have been posted. If you do not agree to abide by these Terms of Use you should not use the Website in any way. Flutter takes every care and precaution to ensure that information published on this website is accurate when posted and regularly updated, but we cannot guarantee its accuracy and may change the information at any time without notice.
WE PUBLISH THE WEBSITE \"AS IS\" WITHOUT ANY WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF OUR WEBSITE, THE ACCURACY OF THE INFORMATION OR THE PRODUCTS OR SERVICES REFERRED TO ON THE WEBSITE (INSOFAR AS SUCH WARRANTIES MAY BE EXCLUDED UNDER ANY RELEVANT LAW) AND WE SHALL NOT BE LIABLE FOR ANY LOSSES OR DAMAGES WHETHER DIRECT OR INDIRECT (INCLUDING, WITHOUT LIMITATION, DIRECT OR INDIRECT LOSS OF PROFITS), CONSEQUENTIAL, SPECIAL OR OTHERWISE INCIDENTAL THAT MAY RESULT FROM USE OF THE WEBSITE AND IR WEBSITE OR AS A CONSEQUENCE OF ANY INACCURACIES IN, OR ANY OMISSIONS FROM, THE INFORMATION WHICH IT MAY CONTAIN.
The information contained in the website is not an invitation to invest in the shares or any other products or services or otherwise deal in these or enter into a contract with Flutter or any other company. The information provided should not be relied upon in connection with any investment decision.
You are not required to register your details with us in order to browse the vast majority of our website. If you visit an area or page which requires a login you will be given information on how to register and access content, unless this is restricted content. Before registering your details please ensure you have read all legal documentation available on the site regarding data protection and policies.
Any registration details should be per user and not shared with multiple users or parties. We have the right to disable any user accounts at any time if, in our reasonable opinion, you have failed to comply with any of the provisions of these Terms Of Use and/or if we believe that your account is being used in an unauthorized or fraudulent manner.  If you know or suspect that anyone other than you has or is likely to access your user account, you must promptly notify us. Following such notification you may be required to set up a new account with a new email address.
Intellectual property
The copyright notice which is displayed in this site indicates that all materials within the site are the intellectual property of Flutter. All materials, content and forms contained on this website are the intellectual property of Flutter and may not be copied, reproduced, distributed or displayed without Flutter’s express written permission. However, you may print complete pages of the site as hard copies for your own personal use as reasonably required.
Accuracy of information
While Flutter uses reasonable endeavors to ensure that the contents of this site are accurate and up to date, it does not accept any liability for any information which may not be accurate. Flutter is reliant upon third parties for much of the information provided (see below) and reserves the right to change data, references, product specifications or other contents of the site at any time.
The contents of this site are for general information and public relations purposes only and do not purport to provide advice, make any offer or otherwise create or lead to the creation of any legally enforceable relationship between Flutter and you. No reliance should be placed on any statements made on the site, whether for investment purposes or otherwise. Flutter excludes to the fullest extent permitted by law all liability resulting from your access to the site including (without limitation) any loss (financial or otherwise) or damage resulting directly or indirectly from any such reliance.
Flutter does not guarantee that the website, or any content on it, will always be available or access to it will be uninterrupted. Access to the website is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of the website without notice. We will not be liable to you if for any reason the website is unavailable at any time or for any period.
You are responsible for making all arrangements necessary for you to have access to the website.
You are also responsible for ensuring that any persons with access to the website through your internet connection are aware of these terms of use, and that they comply with them.
Certain hypertext links contained in this site will direct you to websites which are not under the control of Flutter. Such links are included for your convenience and do not constitute an endorsement by Flutter of third-party products or services. Selection of a link will take you out of this site to other websites which Flutter has no control over and may represent views or opinions not held by Flutter. Flutter accepts no liability or responsibility whatsoever for any other websites which may be accessed through the Flutter website.
We do not guarantee that the website will be secure or free from bugs or viruses. You are responsible for configuring your information technology, computer programs and platform in order to access the website. You should use your own virus protection software.  You must not misuse the website by attempting to introduce or knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorized access to the website, the server on which the website is stored or any server, computer or database connected to the website. You must not attack the website via a denial-of-service attack or a distributed denial-of service attack. We will report any relevant breach of these Terms of Use to the relevant law enforcement authorities and we will cooperate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the website will cease immediately.
No waiver of by Flutter of any term or condition set forth in these Terms of Use shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of Flutter to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision.  If any provision of these Terms of Use is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect. Responsible Gaming Expand © 2025 Flutter Entertainment Operational Headquarters
Flutter Entertainment plc
One Madison Avenue
New York
NY 10010
United States Registered Office

Flutter Entertainment
plc
Belfield Office Park

Beech Hill Road,
Clonskeagh

Dublin 4

D04 V972

Ireland B2B Cookie declaration Privacy policy Terms of use Accessibility Modern Slavery Statement Company number 16956. Registered in Ireland.
VAT number: Flutter Entertainment: 0656323K CHANGING THE GAME" 1 :add]
 ["flutter-tos-1" :tos/source-url "https://www.flutter.com/terms-of-use" 1 :add]
 ["flutter-tos-1" :tos/retrieved-at "2026-07-10" 1 :add]
 ["flutter-tos-1" :tos/sha256 "33361a5ea1629c0a6fb02fd8aefc50886016d7e9fa34923de519998ff5278398" 1 :add]
 ["flutter-tos-1" :tos/doc-type :terms-of-use 1 :add]]
